<div class="level-list-container">
  @for (level of levels(); track level.levelId) {
    <ol>
      <h3>
        {{ level.levelName }}
      </h3>
      <ul>
        @for (requirement of level.requirements; track requirement.requirementId) {
          <li>
            <a [routerLink]="['/level-requirements', requirement.requirementId]">{{ requirement.requirement }}</a>
            <button matButton="tonal" (click)="deleteRequirement(requirement.requirementId)">Delete</button>
          </li>
        }
      </ul>
        <a class="add-requirement" [routerLink]="['/levels', level.levelId, 'add-requirement']">Add requirement</a>
    </ol>
  }
</div>
