.management-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
}

.stats-section {
  display: flex;
  justify-content: space-between;
}

.quick-actions-button {
  display: flex;
  justify-content: space-between;
}

.trainer-dashboard {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
}
