@if (user()?.roles?.includes('PARENT')) {
<p>Welcome to your parent dashboard!</p>

@if (swimmers.length === 0) {
<p>You don't have any swimmers yet!</p>
}
<a matButton="tonal" routerLink='/parents/create-swimmer'>
  <mat-icon>person_add</mat-icon>
  <span>Add Swimmer</span>
</a>
<section class="swimmers-section">

  <h2>My Swimmers</h2>

  @if (swimmers.length === 0) {
    <p>You don't have any swimmers registered yet.</p>
  }

  @for (swimmer of swimmers; track swimmer.swimmerId) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ swimmer.firstName }} {{ swimmer.lastName }}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Level: {{ swimmer.levelName ?? 'Not assigned' }}</p>
        <p>Course Name: {{ swimmer.courseName ?? 'Not assigned' }}</p>
        <p>Course Day: {{ swimmer.courseDay ?? 'Not assigned' }}</p>
        <p>Course Time: {{ swimmer.courseTime ?? 'Not assigned' }}</p>
      </mat-card-content>
    </mat-card>
  }

</section>
}

@if (user()?.roles?.includes('ADMIN')) {
  <div class="admin-dashboard">
    <header class="dashboard-header">
      <div>
        <p class="eyebrow">ADMINISTRATION</p>
        <h1>Admin Dashboard</h1>
        <p>Manage swimmers, trainers, courses and levels</p>
      </div>
    </header>
    <section class="stats-section">
      <mat-card class="swimmer-stats">
        <mat-card-header>
          <mat-card-title>Total swimmers</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ swimmersList().length }}
        </mat-card-content>
      </mat-card>
      <mat-card class="trainer-stats">
        <mat-card-header>
          <mat-card-title>Total trainers</mat-card-title>
        </mat-card-header>
        <mat-card-content>Some dynamic data later</mat-card-content>
      </mat-card>
      <mat-card class="course-stats">
        <mat-card-header>
          <mat-card-title>Course info</mat-card-title>
        </mat-card-header>
        <mat-card-content>Some dynamic data later</mat-card-content>
      </mat-card>
      <mat-card class="level-stats">
        <mat-card-header>
          <mat-card-title>Level info</mat-card-title>
        </mat-card-header>
        <mat-card-content>Some dynamic data later</mat-card-content>
      </mat-card>
    </section>
    <section class="management-section">
     <h2>Management</h2>
     <div class="management-grid">
      <mat-card class="card-1">
        <mat-card-header> <mat-card-title>Swimmmers Management</mat-card-title>
          <mat-card-subtitle>This should be about swimmers management</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1>Assign level</h1>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-2">
        <mat-card-header>
          <mat-card-title>Trainers Management</mat-card-title>
          <mat-card-subtitle>This should be about trainers management</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1>Assign trainer</h1>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-3">
        <mat-card-header>
          <mat-card-title>Manage courses</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @for (course of courses().slice(0, 3); track course.courseId) {
            <div class="course-summary">
              <strong>{{ course.courseName }}</strong>

              <span>
                {{ course.levelName }}
                . {{ course.courseDay }}
                . {{ course.courseTime }}
              </span>

            </div>
          }
        </mat-card-content>
        <mat-card-actions>
          <button matButton="tonal" routerLink="/course-list">View all courses</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="card-4">
        <mat-card-header>
          <mat-card-title>Manage levels</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @for (level of levels().slice(0, 3); track level.levelId) {
            <div class="level-summary">
              <strong>{{ level.levelId }}</strong>

              <span>
                {{ level.levelName }}:
              </span>
            </div>
          }
        </mat-card-content>
        <mat-card-actions>
          <button matButton="tonal" routerLink="/level-list">View all levels</button>
        </mat-card-actions>
      </mat-card>
     </div>
    </section>
  </div>

  <section class="quick-actions">
    <h2>Quick Actions</h2>
    <div class="quick-actions-button">
      <button matButton="tonal" routerLink='/swimmers'>Add Swimmer</button>
      <button matButton="tonal" routerLink='/trainers/register'>Add Trainer</button>
      <button matButton="tonal" routerLink='/courses'>Add Course</button>
      <button matButton="tonal" routerLink='/levels'>Add Level</button>
    </div>
  </section>
}

@if (user()?.roles?.includes('TRAINER')) {
  <p>Welcome to your trainer dashboard</p>
  <section class="trainer-dashboard">
    <mat-card class="trainer-course">
      <mat-card-header>
        <mat-card-title>My course</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Some dynamic data</p>
        <p>Also some quick actions button later</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="trainer-attendance">
      <mat-card-header>
        <mat-card-title>Attendance</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Some dynamic data</p>
        <p>Also some quick actions button later</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="trainer-settings">
      <mat-card-header>
        <mat-card-title>Settings</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Some dynamic data</p>
        <p>Also some quick actions button later</p>
      </mat-card-content>
    </mat-card>
  </section>
}
