.trainer-registration-container {
  max-width: 900px;
  margin: 0 auto;
}

.registration-card {
  width: 100%;
}

.trainer-registration-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.trainer-registration-form mat-form-field:first-child {
  grid-column: 1/-1;
}
